* {
    font-family: Roboto, sans-serif;  
  }
#adminForm{
    margin: 20px auto;
    width: 40%;
}
#navbar{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
#navbarSub{
    margin-right: 20px;
}
#navImg{
    width: 40px;
    height: 40px;
}
#container{
    margin: 20px auto;
    width:50%;
    font-family: "Roboto";
}

#user_card{
    display: grid;;
    grid-template-columns: 1fr 4fr 4fr;
    width:100%;
    margin-left: 30px;
    padding-top: 20px;
    padding-left: 20px;
}
#telephone{
    margin-left: 21%;
}

#doctorDet{
    display: grid;
    grid-template-columns: 4fr 3fr;
    margin: 30px auto;
    width:70%;
}
#calendarDoc{
    margin-left: 20px;
    
}
#doctorDetCard{
    width: 100%;
}

.searchAdd{
    display: grid;
    grid-template-columns: 7fr 2fr;
    padding-top: 15px; 
    padding-left: 25px;
    margin: 10px auto ;
    width: 550px;
}
.form-control{
    border-radius: 4px;
    width: 200px;
}
#searchBox{
    margin-left: 30%;
    margin-top: 10px;
}